<footer class="footer section white">
            {% assign url = page.url  %}
            <div class="logos">
                {% if (url != "/") and (url != "/timeline-19/") and (url != "/stream/") %}
                    <div class="row">
                       <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://okfn.de/" target="_blank">
                            <img src="{{ site.baseurl }}/assets/img/static/logo-okfn.png"/>
                        </a>
                    </div>

                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://edulabs.de/" target="_blank">
                            <img  src="{{ site.baseurl }}/assets/img/static/edulabs-logo.svg"/>
                        </a>
                    </div>

                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://buendnis-freie-bildung.de/" target="_blank">
                            <img style="max-width: 45%;" src="{{ site.baseurl }}/assets/img/static/Logo_Bündnis_Freie_Bildung_hochkant.png"/>
                        </a>
                    </div>

                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://medialepfade.org/" target="_blank">
                            <img style="max-width: 75%" src="{{ site.baseurl }}/assets/img/static/mp.org.png"/>
                        </a>
                    </div>

                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://wikimedia.de/" target="_blank">
                            <img  style="max-width: 50%; margin-bottom:10px" src="{{ site.baseurl }}/assets/img/static/wmde.png"/>
                        </a>
                    </div>

                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://bmbf.de/" target="_blank">
                            <img  style="max-width: 65%" src="{{ site.baseurl }}/assets/img/static/logo-bmbf.jpg"/>
                        </a>
                    </div>


                {% else %}
                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://buendnis-freie-bildung.de/" target="_blank">
                            <img style="max-width: 45%;" src="{{ site.baseurl }}/assets/img/static/Logo_Bündnis_Freie_Bildung_hochkant.png"/>
                        </a>
                    </div>
                    <div class="row">
                       <div class="logo col-xs-8 col-md-4 col-lg-4">
                        <a href="https://okfn.de/" target="_blank">
                            <img src="{{ site.baseurl }}/assets/img/static/logo-okfn.png"/>
                        </a>
                    </div>

                    <div class="logo col-xs-8 col-md-4 col-lg-4">
                      <a href="https://wikimedia.de/" target="_blank">
                          <img  style="max-width: 50%; margin-bottom:10px" src="{{ site.baseurl }}/assets/img/static/wmde.png"/>
                      </a>
                    </div>
                {% endif %}

            </div>


            <div class="sponsors-nav">

              <div class="col-xs-24">
                 <div class="cc-info" style="text-align:left">
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br/><p class="bold">Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0 Attribution lizenziert.</a>

                </div>
              </div>
              <div class="foot-links">
                <a class="imprint simple-btn" href="/impressum">Impressum</a>
              </div>
            </div>

</footer>

        <!-- js libs -->
        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/isotope.pkgd.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/imagesloaded.pkgd.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.fitvids.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/logger.min.js"></script>

        <script src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/mustache.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/date.format.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/URI.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.lunr.search.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/trianglify.min.js"></script>

        <!-- js custom -->
        <script src="{{ site.baseurl }}/assets/js/modules/IsotopeController.js"></script>
        <script src="{{ site.baseurl }}/assets/js/main.js?v=2.0"></script>

        <script>
            jQuery(document).ready(function($) {
                $('#search-query').lunrSearch({
                  indexUrl  : '/js/index.json',           // url for the .json file containing search index data
                  results   : '#search-results',          // selector for containing search results element
                  template  : '#search-results-template', // selector for Mustache.js template
                  titleMsg  : '<h1>Search results<h1>',   // message attached in front of results (can be empty)
                  emptyMsg  : '<p>Nothing found.</p>'     // shown message if search returns no results
                });

               var drawRandomTeaser = function () {
                    $.each($('.project-teaser.random-image'), function(i,e) {
                        var pattern = Trianglify({
                                          height: 200,
                                          width: $(e).width(),
                                          cell_size: 30 + Math.random() * 100});
                        $('.teaser-image', this).html(pattern.canvas());
                    });
               }

               $(window).resize(drawRandomTeaser);
               drawRandomTeaser();

                $('.btn-rss').click(function () {
                    $('#rsslinks').fadeToggle(200);
                });

                window.controller = new Controller($);
                window.controller.init();

            });
        </script>

</body>
</html>
